.DS_Store
/Es141/nbproject/private/
/Es141/build/
/Es142/nbproject/private/
/Es142/build/
/Es145/nbproject/private/
/Es145/build/
/Es148/nbproject/private/
/Es148/build/
/Es150/nbproject/private/
/Es150/build/
/Es117/nbproject/private/
/Es117/build/
/Es151/nbproject/private/
/Es152/nbproject/private/
/Tehc/nbproject/private/
/Tehc/build/
/Test/nbproject/private/
/Test/build/
/Fibo/nbproject/private/
/Fibo/build/
/Factorial/nbproject/private/
/Factorial/build/
/Factorization/nbproject/private/
/Factorization/build/
/Mcm/nbproject/private/
/Mcm/build/
/Mcd/nbproject/private/
/Mcd/build/
/Fibo2/nbproject/private/
/Fibo2/build/
/Factorial2/nbproject/private/
/Factorial2/build/
/Factorization2/nbproject/private/
/Factorization2/build/
/Shuffle/nbproject/private/
/Shuffle/build/
/ReverseString/nbproject/private/
/ReverseString/build/
/StringWords/nbproject/private/
/StringWords/build/
/MiddleChar/nbproject/private/
/MiddleChar/build/
/GreekPi/nbproject/private/
/PiMonteCarlo/nbproject/private/
/PiMonteCarlo/build/
/Es140/nbproject/private/
/Es140/build/
/PrimeNumber/nbproject/private/
/PrimeNumber/build/
/JavaApplication93/nbproject/private/
/PrimeOrFactorization/nbproject/private/
/PrimeOrFactorization/build/
/Test2/nbproject/private/
/Test2/build/
/Es154/nbproject/private/
/Es155/nbproject/private/
/Es155/build/
/Es156/nbproject/private/
/Es156/build/
/Es157/nbproject/private/
/Es158/nbproject/private/
/Es163/nbproject/private/
/Es163/build/
/Es164/nbproject/private/
/Es164/build/
/Es165/nbproject/private/
/Es165/build/
/Es177/nbproject/private/
/Es177/build/
/Es1Disp2/nbproject/private/
/Es1Disp2/build/
/Es2Disp2/nbproject/private/
/Es2Disp2/build/
